# IBM Applied Data Science Capstone Project

#### Introduction/Business Problem

Besides being the fourth-most populous metropolitan area in the Americas, the city of Buenos Aires is also very segmented as regards neighborhoods and the socio-economic situation of those who leave in each of them.
Accordingly, prices for properties vary greatly.

In my capstone project I will try to cross information of venues available in each Neighborhood of the city of Buenos Aires (via Foursquare API) with the Avg Price per square meter on that Neighborhood, in order to identify whether there is a Neighborhood where enough of these venues are missing and Avg Price per square meter is relatively low, so that an opportunity for market penetration is identified.

The audience for this report would be entrepreneurs in the city of Buenos Aires, who are trying to identify opportunities to set up a new business where demand is unsatisfied and sunk costs are affordable.

#### Data

In addition to the Foursquare data, I will use a csv file I downloaded from the internet and cleaned up myself, re-uploaded and sampled below:

In [8]:
prices = pd.read_csv('labs/DA0101EN/Prices_m2_data.csv')
prices.head()

      Neighborhood  Avg Price per square meter
0     Villa Lugano                        1417
1  Villa Riachuelo                        1940
2             Boca                        2034
3  Velez Sarsfield                        2064
4    Nueva Pompeya                        2072

For example, if I find out Villa Lugano has a very low Avg Price per square meter and has half the amount of Gyms the other neighborhoods have, then an opportunity is present to open a Gym and supply for unsatisfied demand with a low initial cost.